/* Contact Form Container */
.contact-form-container {
  
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #22224556; /* Dark purple background */
  border-radius: 8px;
  margin: auto; /* Center the container */
  float: right; /* Float container to the right */
  margin-right: 150px; /* Add margin for spacing */
}

/* Contact Header */
.contact-header {
  font-size: 2rem; /* Responsive font size */
  font-weight: 600;
  color: #d8b1b1; /* Light text color */
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.6px;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form Group */
.form-group {
  width: 80%;
  margin-bottom: 1.5rem; /* Adjusted bottom margin */
}

/* Form Label */
.form-label {
  display: block;
  margin-bottom: 0.5rem; /* Space between label and input */
  color: #c2c1c2; /* Light text color */
  font-weight: 600;
  font-size: 1rem; /* Responsive font size */
  letter-spacing: 0.6px;
}

/* Form Control */
.form-control {
  width: 100%;
  padding: 1rem;
  font-size: 1rem; /* Responsive font size */
  color: #e0e0e0;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  background-color: #6b6b79;
  resize: vertical;
}

.form-control:focus {
  outline: none;
  border: 2px solid #9067C6; /* Highlight color on focus */
  box-shadow: 0 0 20px #9067C6; /* Soft glow effect */
}

/* Send Button */
.send-button {
  background-color: #824cc9;
  color: #e9e6e9;
  border: none;
  padding: 0.75rem 1.5rem; /* Adjusted padding */
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 1rem; /* Responsive font size */
}

.send-button:hover {
  background-color: #5e4084;
}
